<script>
    var _mtac = {"performanceMonitor":1};
    (function() {
        var mta = document.createElement("script");
        mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
        mta.setAttribute("name", "MTAH5");
        mta.setAttribute("sid", "500700966");
        mta.setAttribute("cid", "500700967");
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(mta, s);
    })();

    var scrollLength = 0, isScroll = false;
    var startTime = Date.now();
    window.addEventListener('scroll', function (e) {
        isScroll = true;
        scrollLength = document.documentElement.scrollTop > scrollLength ? document.documentElement.scrollTop : scrollLength;
    });
    window.addEventListener('beforeunload', function (e) {
        console.log('close page');
        var endTime = Date.now();
        MtaH5.clickStat('time', {
            scantime: endTime-startTime,
            pagelength: document.body.clientHeight,
        });
        MtaH5.clickStat('scroll', {
            isscroll: isScroll,
            scrolllength: scrollLength
        });
    });
</script>