<!-- aplayer -->
<div id="aplayer"></div>

<script src="{{ site.aplayer_js }}"></script>
<script>
  var ap = new APlayer({
    container: document.getElementById("aplayer"),
    autoplay: false,
    fixed: true,
    listMaxHeight: 90,
    volume: 0.2,
    audio: [
      {
        name: "从你的全世界路过",
        artist: "UlyseL",
        url: "https://music.163.com/song/media/outer/url?id=433103084.mp3",
        cover: "https://p1.music.126.net/O89Ae7dCtDzYFChkeQedWg==/17745018161034403.jpg?param=90y90"
      },
      {
        name: "Lights Frightened The Captain",
        artist: "Stars As Lights",
        url: "https://music.163.com/song/media/outer/url?id=29023826.mp3",
        cover: "https://p2.music.126.net/R6jXmr_k4-vTU5rlNhXc7A==/6622358534293744.jpg?param=90y90"
      },
      {
        name: "God knows",
        artist: "平野绫",
        url: "https://music.163.com/song/media/outer/url?id=27876224.mp3",
        cover: "http://p1.music.126.net/6wOX7u8h6_HdtxeLxz9AxA==/2022001883517029.jpg?param=90y90"
      },
      {
        name: "Trouble I'm In",
        artist: "Twinbed",
        url: "https://music.163.com/song/media/outer/url?id=29797698.mp3",
        cover: "http://p2.music.126.net/lbX-pQSUhu32uXmgWYZqww==/109951163236885370.jpg?param=90y90"
      }
    ]
  })
  // ap.on('canplay', function (event) {
  //     setTimeout(() => ap.play(), 2000);
  // });
</script>
