<script src="{{ site.aplayer_js }}"></script>
<script>
    const ap = new APlayer({
        container: document.getElementById('aplayer'),
        audio: [{
            name: 'Lights Frightened The Captain',
            artist: 'Stars as lights',
            url: '/img/music/Lights_Frightened_The_Captain.mp3',
            cover: '/img/avatar_m.jpg',
        }, {
            name: '从你的全世界路过',
            artist: 'UlyseL',
            url: '/img/music/luguo.mp3',
            cover: '/img/avatar_g.jpg',
        }, {
            name: 'Mariana',
            artist: 'Childs',
            url: '/img/music/Mariana.flac',
            cover: '/img/avatar_m.jpg',
        }]
    });
</script>